<div class="row">
    <div class="col-sm-12">
        <div class="card shadow-lg card-body">
            <table style="width: 100% !important;"
                   class="table-striped table-hover table-bordered">
                <thead class="bg-base-color text-white text-center">
                <tr>
                    <th>ID</th>
                    <th> Name</th>
                    <th>Age</th>
                    <th>Gender</th>
                    <th>Email</th>
                    <th>Address</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody *ngIf="employees?.length != 0">
                <tr *ngFor="let emp of employees" class="text-center">
                    <td>{{ emp.id }}</td>
                    <td>{{ emp.name }}</td>
                    <td>{{ emp.age }}</td>
                    <td>{{ emp.gender }}</td>
                    <td>{{ emp.email }}</td>
                    <td>{{ emp.address }}</td>
                    <td>
                        <span style="margin-right: 10px" class="btn btn-sm btn-primary" (click)="gotUpdate(emp.id)">
                            <i class="fa fa-edit"> </i>
                        </span>

                        <span class="btn btn-sm btn-danger" (click)="delete(emp.id)">
                            <i class="fa fa-trash-alt"> </i>
                        </span>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
